<table class="table table-striped text-center vertical-middle top-spacing">
    <tbody>
        <tr class="big" 
            ng-class="{success: winner() == score.PlayerOne.Player, warning: winner() == score.PlayerTwo.Player}">
            <td class="bold">{{score.PlayerOne.Player.name}}</td>
            <td>
                <i ng-show="score.ServingPlayer == score.PlayerOne.Player" class="icon-circle-arrow-left"></i>
            </td>
            <td>{{playerOneGameScore()}}</td>
            <td class="bold">7(16)</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="small">
            <td>Player</td>
            <td>Serving</td>
            <td>Game</td>
            <td>Set 1</td>
            <td>Set 2</td>
            <td>Set 3</td>
            <td>Set 4</td>
            <td>Set 5</td>
        </tr>
        <tr class="big"
            ng-class="{success: winner() == score.PlayerTwo.Player, warning: winner() == score.PlayerOne.Player}">
            <td class="bold">{{score.PlayerTwo.Player.name}}</td>
            <td>
                <i ng-show="score.ServingPlayer == score.PlayerTwo.Player" class="icon-circle-arrow-left"></i>
            </td>
            <td>{{playerTwoGameScore()}}</td>
            <td>6(14)</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-large btn-block" ng-click="viewPlayDashboard()">Play Dashboard</button>