<table class="table table-striped text-center vertical-middle top-spacing">
    <tbody>
        <tr class="big success">
            <td class="bold">{{score.PlayerOne.Player.name}}</td>
            <td><i class="icon-circle-arrow-left"></i></td>
            <td>30</td>
            <td class="bold">7(16)</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="small">
            <td>Player</td>
            <td>Serving</td>
            <td>Game</td>
            <td>Set 1</td>
            <td>Set 2</td>
            <td>Set 3</td>
            <td>Set 4</td>
            <td>Set 5</td>
        </tr>
        <tr class="big warning">
            <td class="bold">{{score.PlayerTwo.Player.name}}</td>
            <td></td>
            <td>15</td>
            <td>6(14)</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-large btn-block" ng-click="viewPlayDashboard()">Play Dashboard</button>