<table class="table text-center vertical-middle">
    <tbody>
        <tr>
            <td class="w45p"><h5>{{score.PlayerOne.Player.name}}</h5></td>
            <td>vs</td>
            <td class="w45p"><h5>{{score.PlayerTwo.Player.name}}</h5></td>
        </tr>
        <tr>
            <td>
                <div ng-show="score.ServingPlayer() == score.PlayerOne.Player">
                    <button class="btn btn-large btn-info btn-block btn-large" ng-click="toggleServe()">{{serveButtonLabel}}</button>
                </div>
            </td>
            <td>Serving</td>
            <td>
                <div ng-show="score.ServingPlayer() == score.PlayerTwo.Player">
                    <button class="btn btn-large btn-info btn-block btn-large" ng-click="toggleServe()">{{serveButtonLabel}}</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h1>{{gameScore(score.PlayerOne)}}</h1>
                <h3>{{score.PlayerOne.Games}}</h3>
            </td>
            <td>
                <h6>Sets</h6>
                <h4>{{score.PlayerOne.Sets}} - {{score.PlayerTwo.Sets}}</h4>
            </td>
            <td>
                <h1>{{gameScore(score.PlayerTwo)}}</h1>
                <h3>{{score.PlayerTwo.Games}}</h3>
            </td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success" ng-show="score.IsWon()">
    <h1 class="text-center">{{score.Winner().Player.name}} won the match</h1>
</div>

<table class="table text-center vertical-middle" ng-hide="score.IsWon()">
    <tbody>
        <tr>
            <td colspan="2">
                <button class="btn btn-large btn-warning btn-block" ng-click="undoLastPoint()">Undo Last Point</button>
            </td>
        </tr>
        <tr>
            <td>
                Scores point because of
                <div class="btn-group btn-block bottom-spacing-small top-spacing-small">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerOne.Player, pointTypes.WinningShot)">
                        <strong>Winning shot</strong>
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerOne.Player" 
                        point-type="pointTypes.WinningShot" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerOne.Player, pointTypes.ForcedError)">
                        <strong>Forced Error</strong> on opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerOne.Player" 
                        point-type="pointTypes.ForcedError" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerOne.Player, pointTypes.UnforcedError)">
                        <strong>Unforced Error</strong> made by opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerOne.Player" 
                        point-type="pointTypes.UnforcedError" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerOne.Player, pointTypes.Ace)">
                        <strong>Ace</strong>
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerOne.Player" 
                        point-type="pointTypes.Ace" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerOne.Player, pointTypes.DoubleFault)">
                        <strong>Double Fault</strong> made by opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerOne.Player" 
                        point-type="pointTypes.DoubleFault" />
                </div>
            </td>
            <td>
                Scores point because of
                <div class="btn-group btn-block bottom-spacing-small top-spacing-small">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerTwo.Player, pointTypes.WinningShot)">
                        <strong>Winning shot</strong>
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerTwo.Player" 
                        point-type="pointTypes.WinningShot" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerTwo.Player, pointTypes.ForcedError)">
                        <strong>Forced Error</strong> on opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerTwo.Player" 
                        point-type="pointTypes.ForcedError" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerTwo.Player, pointTypes.UnforcedError)">
                        <strong>Unforced Error</strong> made by opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerTwo.Player" 
                        point-type="pointTypes.UnforcedError" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerTwo.Player, pointTypes.Ace)">
                        <strong>Ace</strong>
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerTwo.Player" 
                        point-type="pointTypes.Ace" />
                </div>

                <div class="btn-group btn-block bottom-spacing-small top-spacing-small dropup">
                    <button class="btn btn-large w90p" ng-click="scorePoint(score.PlayerTwo.Player, pointTypes.DoubleFault)">
                        <strong>Double Fault</strong> made by opponent
                    </button>
                    <button class="btn btn-large w10p dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <shot-style score-point="scorePoint" player="score.PlayerTwo.Player" 
                        point-type="pointTypes.DoubleFault" />
                </div>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-large btn-success btn-block bottom-spacing" ng-click="saveMatch()">Save Match</button>
<button class="btn btn-large btn-block bottom-spacing" ng-click="viewDetailedScore()">Detailed Score</button>