<h3 class="text-center">Overall match statistics</h3>
<overall-stats stats="stats.PerMatch.Overall"></overall-stats>

<table class="table">
    <tr>
        <td ng-repeat="stats in stats.PerMatch.PerSet">
            <h3 class="text-center">Set {{$index + 1}}</h3>
            <overall-stats stats="stats.Overall"></overall-stats>
            <table class="table">
                <tr>
                    <td ng-repeat="stats in stats.PerGame">
                        <h3 class="text-center">Game {{$index + 1}}</h3>
                        <overall-stats stats="stats.Overall"></overall-stats>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<button class="btn btn-large btn-block" ng-click="viewPlayDashboard()">Play Dashboard</button>