.table.text-center th,
.table.text-center td,
.table th.text-center,
.table td.text-center {
    text-align: center;
}

.table.vertical-middle th,
.table.vertical-middle td,
.table th.vertical-middle,
.table td.vertical-middle {
    vertical-align: middle;
}

.table input,
.table textarea,
.table select {
    margin-bottom: 0px;
}

.caret {
    vertical-align:middle;
    margin-top: 0px!important;
}

.w45p
{
    width: 45%;
}

.w10p
{
    width: 10%;
}

.w90p
{
    width: 90%;
}

.w100p
{
    width: 100%;
}

.bottom-spacing-small
{
    margin-bottom: 4px;
}

.top-spacing-small
{
    margin-top: 4px;
}

.item-large
{
    font-size: 17.5px;
}

.dropdown-menu > li.item-large > a
{
    padding: 11px;
}