.table.text-center th,
.table.text-center td,
.table th.text-center,
.table td.text-center {
    text-align: center;
}

.table.vertical-middle th,
.table.vertical-middle td,
.table th.vertical-middle,
.table td.vertical-middle {
    vertical-align: middle;
}

.table input,
.table textarea,
.table select {
    margin-bottom: 0px;
}

.indicatorFill {
    background-color: #000;
}

.thick {
    height: 6px;
}

@media (max-width: 719px) {
    * {
        font-size: 1em!important;
    }
}

@media (min-width: 720px) and (max-width: 767px) {
    * {
        font-size: 1em!important;
    }
}

@media (min-width: 768px) {
    * {
        font-size: 1.1em!important;
    }
}