.table.text-center th,
.table.text-center td,
.table th.text-center,
.table td.text-center {
    text-align: center;
}

.table.vertical-middle th,
.table.vertical-middle td,
.table th.vertical-middle,
.table td.vertical-middle {
    vertical-align: middle;
}

.table input,
.table textarea,
.table select {
    margin-bottom: 0px;
}