<table class="table vertical-middle">
    <tbody>
        <tr>
            <td>Points Played</td>
            <td>{{stats.Points}}</td>
        </tr>
        <tr>
            <td>Serves</td>
            <td>{{stats.Serves}}</td>
        </tr>
        <tr>
            <td>Aces</td>
            <td>{{stats.Aces}}</td>
        </tr>
        <tr>
            <td>Double Faults</td>
            <td>{{stats.DoubleFaults}}</td>
        </tr>
        <tr>
            <td>Unforced errors</td>
            <td>{{stats.UnforcedErrors}}</td>
        </tr>
        <tr>
            <td>Forced errors</td>
            <td>{{stats.ForcedErrors}}</td>
        </tr>
        <tr>
            <td>Winners</td>
            <td>{{stats.Winners}}</td>
        </tr>
        <tr>
            <td>Winners (including aces)</td>
            <td>{{stats.WinnersIncludingAces}}</td>
        </tr>
        <tr>
            <td>Break points</td>
            <td>{{stats.BreakPoints}}</td>
        </tr>
        <tr>
            <td>Won Break points</td>
            <td>{{stats.BreakPointsWon}}</td>
        </tr>
    </tbody>
</table>