<ul class="dropdown-menu w100p">
    <li><a href="javascript:void(0);" ng-click="scorePoint(player, pointType, shotStyles.NormalPassing)"><strong>Normal/passing shot (default)</strong></a></li>
    <li><a href="javascript:void(0);" ng-click="scorePoint(player, pointType, shotStyles.Volley)">Volley shot</a></li>
    <li><a href="javascript:void(0);" ng-click="scorePoint(player, pointType, shotStyles.Smash)">Smash shot</a></li>
    <li><a href="javascript:void(0);" ng-click="scorePoint(player, pointType, shotStyles.Lob)">Lob shot</a></li>
    <li><a href="javascript:void(0);" ng-click="scorePoint(player, pointType, shotStyles.Drop)">Drop shot</a></li>
</ul>